@import "sass-attributes";

$number: 540;
$px: 540px;
$color: #f7f7f7;
$string: 'dsfadfdsf';

h5 {
  @include add-selector-attributes('h1', 'data-dropdown, true');
  @include add-selector-attributes('h5.class-name', 'data-link-to, #element');
}

@include add-variable('myCoolColor', $color);
@include add-variable('myValue', '5px');
@include add-variable('myNumber', $number);
@include add-variable('myString', $string);

@include write-styles;